<% include ./partials/header.ejs %>
<div id="homepage">

	<h2> Welcome </h2>

	<p> If it was easy, it would be called snowboarding. Shane mcconkey tommy moe pow beaver creek northstar at tahoe sideslip bear valley. China peak bulletproof summit ski area blue run middlebury college snow bowl bode miller mount baker katja seizinger marker. Ober gatlinburg spademan 6 bells eaglecrest keyhole black diamond telemarking mount shasta the red stallion.

	Go to Heaven. Ski like Hell. Bunny hill burke mountain ajax snowshoe mountain crevasse line t-bar celestial billy kid out-of-bounds. Jean vuarnet seth morrison mount shasta killington the wall license to thrill tufulio's two-planker headwall biff whiteface.
	</p>
	<a href="/login"><button class="landing"> Login</button>
	<a href="/signup"><button class="landing"> SignUp</button>
	
</div>
<% include ./partials/footer.ejs %>
