<% include ./partials/header.ejs %>



<form id="new-book">
  <div class="form-group">
    <label for="Search">Search for Books You Want to Read</label>
    <input class="form-control" type="text" name='book[title]' id="book-name" placeholder="What is the books name?" >
  </div>

 

  <input id="searchBook" class="btn btn-info active" type="submit" value="Search for book">
</form>   
  
      





<ul id="books">
</ul>


   
<% include ./partials/footer.ejs %>