<% include ./partials/header.ejs %>


<p id="userId"><%=currentUser._id%></p>
<form id="new-book">
  <div class="form-group">
    <label for="Search">Search for Books You Want to Read</label>
    <input class="form-control" type="text" name='book[title]' id="book-name" placeholder="What is the books name?" >
  </div>

 

  <input id="searchBook" class="btn btn-info active" type="submit" value="Search for book">

</form>

<a href="/userBooks" class="btn btn-info active">My Books <% currentUser.local.email %></a>   
  
      





<ul id="books">
</ul>


   
<% include ./partials/footer.ejs %>