<% include ./partials/header.ejs %>

<p id="userId"><%=currentUser._id%></p>

<h2> hello userBooks.ejs!!! </h2>




   </main>
	<script src="js/app.js"></script>
	<script src="js/userBooks.js"></script>
  </body>
</html>