body {
	background-color: #FFEC18; 
	/*background-image: url("../images/Book3.jpg");*/
	background-blend-mode: screen;
	background-size: 100%;
	color: black;
	font-family: 'Zilla Slab Highlight', cursive;

}

.navbar-default {
	background-color: #FFEC18;
	color: #F3EFF5
}

.container {
	color: #212221
}

#bootstrap-overrides .navbar-brand  {
	color: white;
}

#bootstrap-overrides a {
	color: white;
}

#bootstrap-overrides .btn {
	border: 0px;
    padding: 0px;
	font-size: 2em;
	background-color: #ffec18;
	color: black; 

}

label {
	color: black;
}

h2{
	color: black;
}

p{
	color: black;
}

div.book1 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
	padding: 5px;
	line-height: 20px;
}

div.book2 {
	border-bottom: 2px solid black;
    border-top: 2px solid black;
	padding: 5px;
}

div.book3 {
	border-bottom: 2px solid black;
    border-top: 2px solid black;
	padding: 5px;
}
#bootstrap-overrides .btn:hover {
	box-shadow: inset 1px 1px 1px 1px white;
}

#bootstrap-overrides .btn:active {
	background-color: white;
   
}

.form-control {
	background-color: #FFEC18;
    color: black;
    box-shadow: inset 1px 1px 1px 1px white;
	
}

 #homepage  {
	text-align: center;
}


input.btn.btn-info.active {
	border-color: white;
}

button.navbar-toggle.collapsed  {
	background-color: #212221;
	border-color: white;
}

div.navbar-header {
	background-color: #212221;
}

nav.navbar.navbar-inverse.bg-inverse {
	background-color: #212221;
}

#bootstrap-overrides .navButtons {
	color: white;
	float: right;
}

#login {
	margin-right: 10px
}

#signup {
	margin-left: 10px;
}

hr {
	border-top: 1px solid #fdfdfd;
	text-align: center;
	margin: 30px ;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #000000;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.alert-danger {
	    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: 'Zilla Slab Highlight', cursive;

}

.homePageButtons {
	padding-left: 15px;
}

  .form-control:focus {
        background-color: white;
        border-color: white;
        box-shadow: -1px -1px 1px #fff8f8 inset, 2px 7px 20px #040404;
}


/*button.landing {
	border: 0px;
    padding: 0px;
    
}


button.landing:hover {
    background-color: white;
    color: black;
}


button.landing:active {
	background-color: black;
    box-shadow: 0 5px black;
    color: white;
	transform: translateY(2px);

}

*/


