body {
	background-color: #0D0A0B; 
	/*background-image: url("../images/Book3.jpg");*/
	background-blend-mode: screen;
	background-size: 100%;
	color: #F3EFF5

}

.navbar-default {
	background-color: #0D0A0B;
	color: #F3EFF5
}

.container {
	color: #F3EFF5
}

#bootstrap-overrides .navbar-brand  {
	color: #F3EFF5
}

#bootstrap-overrides a {
	color: #F3EFF5
}

#bootstrap-overrides .btn {
	background-color: #0D0A0B;
	color: #F3EFF5;
}

.form-control {
	background-color: #0D0A0B;
	color: #F3EFF5;
}

 #homepage  {
	text-align: center;
}

button.landing  {
	background-color: black;
}

input.btn.btn-info.active {
	border-color: white;
}

